[submodule "pathfinder-talk"]
	path = pathfinder-talk
	url = https://github.com/dimsuz/pathfinder-talk
[submodule "vs-preza-talk"]
	path = vs-preza-talk
	url = https://github.com/dimsuz/vs-preza-talk.git
